<header class="header">
    <a href="/" class="header_logo">UCLIX</a>
</header>
<nav class="header_nav">
    <ul>
        <li>
            <a href="/home" class="<%= isActiveRoute('/home', currentRoute) %>">Home</a>
        </li>
        <li>
            <a href="/movie" class="<%= isActiveRoute('/movie', currentRoute) %>">Movie</a>
        </li>
        <li>
            <a href="/categorie" class="<%= isActiveRoute('/categorie', currentRoute) %>">Catégorie</a>
        </li>
        <li>
            <a href="/top10" class="<%= isActiveRoute('/top10', currentRoute) %>">Top10</a>
        </li>
        <li>
            <a href="/people" class="<%= isActiveRoute('/people', currentRoute) %>">People</a>
        </li>
    </ul>
</nav>
