<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.name %></title>
    <style>
        
.movie-image {
  float: left;
  width: 45%;
  margin-right: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 65%); 
}

.movie-details {
  float: left;
  width: 50%;
  padding-left: 60px
}

.movie-title {
  font-size: 40px;
  margin-bottom: 10px;
  color:rgba(255, 0, 0, 0.556);
}

.movie-description {
  margin-bottom: 10px;
  color:white;
  font-size: 25px;
  text-align: left;
}

.movie-tags {
  font-size: 14px;
  color:red;
}
    </style>
</head> 
<body>
   
    <div class="movie-image">
        <img src="<%= movie.image %>" alt="<%= movie.name %>">
    </div>
    <div class="movie-details">
    <h1 class="movie-title"><%= movie.name %></h1> 
            <!-- Display other movie details here -->
        <p class='movie-description'>
            <%= movie.description %> 
        </p>
        <p class="movie-tags"><%= movie.tag %></p>
        </div>
    </div>
</body>
</html>